body{
  width: 100vw;
  overflow: hidden;
}
#courses {
    text-align: center;

  }
  
  #courses h1 {
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
   
  }
  
  #courses p {
    color: #777;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0.7rem;
  }
  @keyframes test{
    from
    {
        margin-left :-600px;;
    }
    to
    {
        margin-left:0;
    }
 
  }
  @keyframes test1{
    from
    {
        right :-40%;
    }
    to
    {
       right:5%;
    }
 
  }
  #courses .tt{
  
    height: 70vh;

    background-image:url( "./images/2.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation-name:test;
    animation-duration:2s;
    animation-delay:0.1s;
    animation-timing-function:ease;
  }
  #courses .head{
  
    position: absolute ;
    right:-40%;
    animation-name:test1;
    animation-duration:2s;
    animation-delay:0.1s;
    animation-timing-function:ease;
    animation-fill-mode:forwards;
   
  }
  .header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1% 5%;
  }
  
  .header nav h2 {
    color: rgb(95, 164, 242);
  }
  
  .header nav h2 span {
    color: #3678f4;
  }
  
  @media (max-width: 768px) {
    .header nav h2 {
      margin: auto;
    }
  }
  
  .header nav #navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header nav #navLinks a {
    text-decoration: none;
    color: rgb(88, 192, 240);
    font-size: 1.2rem;
    padding: .5rem .75rem;
  }
  
  .header nav #navLinks a::after {
    display: block;
    content: '';
    height: 2px;
    width: 0;
    background-color: #31d2f2;
    margin: auto;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .header nav #navLinks a:hover::after {
    width: 100%;
  }
  .header nav .fa-bars,
  .header nav .fa-xmark {
    color: antiquewhite;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    .header nav .fa-bars,
    .header nav .fa-xmark {
      display: block;
    }
  }