#my .row .col {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    text-align: left;
    background-color: #fff3f3;
    padding: 1.5rem;
    cursor: pointer;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    transition: .2s;
  }
#my {
    width: 100%;
    margin: 2rem auto;
    text-align: center;

  }